.row
  .col-sm-12
    .portlet.portlet-boxed
      .portlet-header
        %h4.portlet-title Contas à pagar
        = link_to "+ Adicionar conta à pagar", new_payable_path, class: 'pull-right btn btn-sm btn-danger'
      .portlet-body
        .row
          = simple_form_for url_for, method: :get do |f|
            .col-md-2
              = f.input :date_start, label: "Data início", input_html: { name: 'period[date_start]', class: 'date', value: (params[:period].present?) ? params[:period][:date_start] : Date.today.beginning_of_month.strftime('%d/%m/%Y')} 
            .col-md-2
              = f.input :date_end, label: "Data fim", input_html: { name: 'period[date_end]', class: 'date', value: (params[:period].present?) ? params[:period][:date_end] : Date.today.end_of_month.strftime('%d/%m/%Y')}
            .col-md-3
              = f.input :by_contract, label: "Centro de custo", as: :select, collection: Commercial::Contract.all.order(:title), include_blank: "Todos", selected: params[:by_contract], input_html: { name: 'by_contract'}
            .col-md-2
              = f.input :by_status, label: "Pago?", as: :select, selected: params[:by_status], include_blank: "Todos", input_html: { name: 'by_status'}
            .col-md-3
              = f.submit "Filtar listagem", name: nil, class: 'btn btn-secondary btn-sm filter-button', data: { disable_with: t(:disable_with)}
        .row
          .col-md-12
            %table.table.table-striped.table-bordered.table-hover
              %thead
                %tr
                  %th Cod.
                  %th C. Custo
                  %th FPA
                  %th Nome
                  %th Vencimento
                  %th Valor
                  %th Situação
                  %th Ações
              %tbody
                - @payables.each do |item|
                  %tr 
                    %td
                      = item.payable_id
                    %td
                      - item.payable.payable_contracts.each do |c|
                        %span.label.label-secondary{style: 'margin-left: 2px'}
                          = c.contract.title                        
                    %td
                      - item.payable.payable_purchases.each do |p|
                        %span.label.label-secondary{style: 'margin-left: 2px'}
                          = p.purchase.id         
                    %td
                      = item.payable.name
                    %td
                      = item.due.strftime("%d/%m/%Y")
                    %td
                      = number_to_currency item.value
                    %td
                      - if item.pago?
                        %span.label.label-success
                          Pago
                      - else
                        %span.label.label-danger
                          Não pago
                    %td 
                      .dropdown
                        %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                          %i.glyphicon.glyphicon-cog
                          %span.caret
                        %ul.dropdown-menu
                          %li
                            %a{:href => "#{edit_payable_path(item.payable_id)}"} Visualizar/Editar
                          %li
                            - if item.pago?
                              %a{:href => "#{update_payables_path(parcel_id: item.id)}"} Não pago
                            - else
                              %a{:href => "#{update_payables_path(parcel_id: item.id)}"} Pago
                %tfooter
                  %tr
                    %th{colspan: 5} Total 
                    %th{colspan: 3}= number_to_currency @payables.sum_values

