.row
  .col-sm-12
    .portlet.portlet-boxed
      .portlet-header
        %h4.portlet-title Contas à pagar
        = link_to "+ Adicionar conta à pagar", new_payable_path, class: 'pull-right btn btn-sm btn-danger'
      .portlet-body
        .row
          = simple_form_for url_for, method: :get do |f|
            .col-md-3
              = f.input :by_contract, label: "Centro de custo", as: :select, collection: Commercial::Contract.all.order(:title), include_blank: "Todos", selected: params[:by_contract], input_html: { name: 'by_contract'}
            .col-md-2
              = f.input :by_status, label: "Pago?", as: :select, selected: params[:by_status], include_blank: "Todos", input_html: { name: 'by_status'}
            .col-md-3
              = f.submit "Filtar listagem", name: nil, class: 'btn btn-secondary btn-sm filter-button', data: { disable_with: t(:disable_with)}
        .row
          .col-md-12
            %table.table.table-striped.table-bordered.table-hover
              %thead
                %tr
                  %th Cod.
                  %th C. Custo
                  %th FPA
                  %th Nome
                  %th Vencimento
                  %th Valor
                  %th Situação
                  %th Ações
              %tbody
                - @total_success = 0
                - @total_danger  = 0
                - @payables.each do |pay|
                  %tr
                    %td= pay.id
                    %td
                      - pay.payable_contracts.each do |item|
                        %span.label.label-secondary{style: 'margin-left: 2px'}
                          = item.contract.title if item.contract.present?
                    %td
                      - pay.payable_purchases.each do |item|
                        %span.label.label-secondary{style: 'margin-left: 2px'}
                          = '#'
                          = item.purchase.protocol if item.purchase.present?
                    %td= pay.name
                    %td= pay.date_payable.strftime("%d/%m/%Y") if pay.date_payable.present?
                    %td
                      - @total_success  =  @total_success + pay.value.gsub('R$ ', '').to_f if pay.status
                      - @total_danger   =  @total_danger + pay.value.gsub('R$ ', '').to_f unless pay.status
                      = number_to_currency pay.value.gsub('R$ ', '').to_f
                    %td
                      - if pay.status
                        %span.label.label-success
                          Pago 
                      - else
                        %span.label.label-danger
                          Não pago
                    %td.col-md-1
                      = link_to "", edit_payable_path(pay), class: 'btn btn-xs glyphicon glyphicon-pencil btn-success'
                      = link_to "", payable_path(pay), method: :delete, data: { confirm: t(:confirm_destroy)}, class: 'btn btn-xs btn-danger glyphicon glyphicon-remove'
              %footer
                %tr 
                  %th{colspan: 3} Total efetivado
                  %td
                    %span.label.label-success
                      = number_to_currency @total_success if @payables.present?
                  %th{colspan: 2} Total não efetivado
                  %td
                    %span.label.label-danger
                      = number_to_currency @total_danger if @payables.present?