.row
  .col-sm-12
    .portlet.portlet-boxed
      .portlet-header
        %h4.portlet-title Listagem de Empresas
        = link_to "+ Adicionar empresa", new_company_path, class: 'btn btn-secondary btn-sm pull-right'
      .portlet-body
        .adv-table
          .row
            .col-md-12
              %table.table.table-bordered.table-striped.datatable
                %thead
                  %tr
                    %th Nome
                    %th CNPJ
                    %th Cidade/UF
                    %th CEP
                    %th Ações
                %tbody
                  - @companies.each do |company|
                    %tr
                      %td= company.name
                      %td= company.cnpj
                      %td= "#{company.state.acronym}" if company.state.present?
                      %td= company.cep
                      %td.col-md-1
                        = link_to "", edit_company_path(company), class: 'btn btn-success btn-xs glyphicon glyphicon-pencil', title: "Editar"
                        = link_to "", company_path(company), method: :delete, data: { confirm: t(:confirm_destroy)}, class: 'btn btn-danger btn-xs glyphicon glyphicon-remove', title: "Remover"
                 