.mainnav
  .container
    %a.mainnav-toggle{"data-target" => ".mainnav-collapse", "data-toggle" => "collapse"}
      %span.sr-only Toggle navigation
      %i.fa.fa-bars
    %nav.collapse.mainnav-collapse{:role => "navigation"}
      %ul.mainnav-menu
        %li.active
          %a{:href => "#{dashboard.root_path}"}
            Visão Geral
        %li.dropdown
          %a.dropdown-toggle{"data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "javascript:;"}
            Comercial
            %i.mainnav-caret
          %ul.dropdown-menu.mega-dropdown-menu.mega-menu-2{:role => "menu"}
            %li
              .mega-menu-content
                .mega-menu-col
                  %ul.mega-menu-menu
                    %li.mega-menu-header Módulos
                    %li
                      %a{:href => "#{commercial.companies_path}"}
                        Gestão de empresas
                    %li
                      %a{:href => "#{commercial.contracts_path}"}
                        Gestão de contratos
           
        %li.dropdown
          %a.dropdown-toggle{"data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "javascript:;"}
            Compras
            %i.mainnav-caret
          %ul.dropdown-menu.mega-menu-2{:role => "menu"}
            %li
              .mega-menu-col
                %ul.mega-menu-menu
                  %li.mega-menu-header Externo
                  %li
                    %a{:href => "#{deal.control_orders_path}"}
                      Pedidos
                  %li
                    %a{:href => "#"}
                      Balance de pedidos
      
                  %li.mega-menu-header
                    Interno
                  %li
                    %a{:href => "#{deal.new_purchase_path}"}
                      Nova compra
                  %li
                    %a{:href => "#{deal.purchases_path}"}
                      Listagem de compras
                  %li
                    %a{:href => "#"}
                      Itens de compras
                  %li
                    %a{:href => "#{deal.patrimonies_path}"}
                      Patrimônios
                  %li
                    %a{:href => "#{deal.patrimony_moviments_path}"}
                      Movimentação de patrimônios
                  %li
                    %a{:href => "#{deal.inventories_path}"}
                      Estoque

                  %li
                    %a{:href => "#"}
                      Balance geral
              / /.mega-menu-col
              .mega-menu-col
                %ul.mega-menu-menu
                  %li.mega-menu-header Pesquisa
                  %li
                    %a{:href => "#{deal.searches_path}"}
                      Pesquisa FPA / Produto
                  %li
                    %a{:href => "#{deal.suppliers_path}"}
                      Fornecedores
                      
              .mega-menu-col
                %ul.mega-menu-menu
                  %li.mega-menu-header Relatórios
                  %li
                    %a{:href => "#"}
                      Geral
                  %li
                    %a{:href => "#"}
                      Por contrato & período
                  %li
                    %a{:href => "#"}
                      Por categoria de compras
                  %li
                    %a{:href => "#"}
                      Por fornecedor
        %li.dropdown
          %a.dropdown-toggle{"data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "javascript:;"}
            Financeiro
            %i.mainnav-caret
          %ul.dropdown-menu.mega-menu-2{:role => "menu"}
            %li
              .mega-menu-col
                %ul.mega-menu-menu
                  %li.mega-menu-header Interno
                  %li
                    %a{:href => "#{finance.payables_path}"}
                      Contas à pagar
                  %li
                    %a{:href => "#{finance.receivables_path}"}
                      Contas à receber
                  %li
                    %a{:href => "#{finance.cost_centers_path}"}
                      Centro de custos
                  %li
                    %a{:href => "#{finance.bill_categories_path}"}
                      Categoria de contas
                %ul.mega-menu-menu
                  %li.mega-menu-header Gestão
                  %li
                    %a{:href => "#"}
                      Notas
                  %li
                    %a{:href => "#"}
                      Boletos
                  %li
                    %a{:href => "#"}
                      Caixa - Entrada e saída
                        
              .mega-menu-col
                %ul.mega-menu-menu
                  %li.mega-menu-header Pesquisa
                  %li
                    %a{:href => "#", :target => "_blank"}
                      Pesquisa Nota
                  %li
                    %a{:href => "#", :target => "_blank"}
                      Pesquisa por compra
              .mega-menu-col
                %ul.mega-menu-menu
                  %li.mega-menu-header Relatórios
                  %li
                    %a{:href => "#", :target => "_blank"}
                      Geral
                  %li
                    %a{:href => "#", :target => "_blank"}
                      Por contrato & período
                  %li
                    %a{:href => "#", :target => "_blank"}
                      Por centro de custo
                  %li
                    %a{:href => "#", :target => "_blank"}
                      Por fornecedor
        %li.dropdown
          %a.dropdown-toggle{"data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "javascript:;"}
            Recursos Humanos
            %i.mainnav-caret

          %ul.dropdown-menu.mega-menu-2{:role => "menu"}
            %li
              .mega-menu-col
                %ul.mega-menu-menu
                  %li.mega-menu-header Em construção
 